<div class="container" >
  <div class="details-card">
    <%= image_tag @country.image.variant(resize_to_fill: [500, 1000]), class: "rounded", width: 1000, height: 500 %>
    <div class="title-country">
      <h1><%= @country.name %></h1>
      <div class="resources-tag flex-nowrap overflow-auto">
      <% @country.resources.each do |resource| %>
        <%= resource_filter_link(resource) %>
      <% end %>
      </div>
    </div>
    <div class="country-info">
        <div class="info-details">
          <ul>
            <li><%= @country.continent %></li>
            <li><%= @country.climate %></li>
            <li><%= @country.language %></li>
          </div>
          </ul>
        <div class="description-country">
          <%= @country.description %>
        </div>
        <br>
        <div class="form-reservation">
          <div data-controller="toggle" class="button">
            <div data-toggle-target="form" class="d-none">
              <%= render "bookings/form", country: @country, booking: @booking %>
            </div>
            <button data-action="click->toggle#fire" data-toggle-target="button" class="btn-reserver">Réserver</button>
          </div>
        </div>
      <br>
    </div>
    </div>
</div>
<br>
<div class="btn-suggest">
<%= link_to "Revenir aux suggestions", countries_path %>
</div>
